@{
    ViewBag.Title = "Home Page";
}

<div class="panel panel-default">
    <div class="panel-heading" id="question_heading">Question</div>
    <div class="panel-body" id="question_content"></div>
    <button id="confirmButton" class="btn btn-default" disabled>Choose it.</button>
</div>

<div class="btn-group-vertical" id="answers" >
    
</div>

@section scripts{
<script type="text/javascript">
    var answerCards = [];
    
    $(function () {
        $.getJSON('../api/cardapi/Q', function (cardsPayload) {
            $('#question_content').append(cardsPayload.text);
        });
        for (i = 0; i < 30; i++) {
            $.getJSON('../api/cardapi/A', function (cardsPayload) {
                answerCards.push(cardsPayload);
                $('#answers').append('<button type="button" class="btn btn-default ansCard">' + cardsPayload.text + '</button>');
            });
        };
        $(".ansCard").click(function () {
            //this currently isn't getting called because the ansCard element array is empty at this point - the api calls haven't returned
            //$(".ansCard").slideDown();
            $('#confirmButton')[0].disabled = false;
            $('#confirmButton')[0].textContent = "Choose: " + $(this)[0].textContent;
            //$(this).slideUp();
        });
    });
    </script>
}