@{
    ViewBag.Title = "Home Page";
}

<div class="panel panel-default">
    <div class="panel-heading" id="question_heading">Question</div>
    <div class="panel-body" id="question_content"></div>
    <button id="confirmButton" class="btn btn-default" disabled>Choose it.</button>
</div>

<div class="btn-group-vertical" id="answers" >
    
</div>

@section scripts{
<script type="text/javascript">
    answerClick = function (button) {
        $('#confirmButton')[0].disabled = false;
        $('#confirmButton')[0].textContent = "Choose: " + button.textContent;
        button.disabled = true;
    }
        
    $(function () {
        $.getJSON('../api/cardapi/Q', function (cardsPayload) {
            $('#question_content').append(cardsPayload);
        });
        for (i = 0; i < 30; i++) {
            $.getJSON('../api/cardapi/A', function (cardsPayload) {
                $('#answers').append('<button onclick="answerClick(this)" type="button" class="btn btn-default">' + cardsPayload + '</button>');
            });
        }
    });
    </script>
}